[Unit]
Description=ATSD | Нижняя подсистема робота
Requires=multi-user.target
After=multi-user.target
AllowIsolate=no

[Install]
WantedBy=multi-user.target
